.footer-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--dark-color);
}

.social-media {
	display: flex;
	justify-content: flex-start;
}

.fa-twitter,
.fa-facebook,
.fa-instagram {
	padding: 15px;
	font-size: 15px;
	height: 15px;
	width: 15px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	color: var(--light-color);
	background-color: var(--primary-color);
	margin: 0.5rem;
}

.footer-wrapper {
	margin: 1rem;
}

.footer-items h3 {
	color: var(--light-color);
	padding: 2rem 0;
}

.footer-item {
	list-style: none;
	color: rgb(174, 173, 173);
	padding: 0.5rem 0;
	display: block;
}

.footer-item a {
	text-decoration: none;
	color: rgb(174, 173, 173);
	margin-left: 0.5rem;
	font-size: var(--fs-2);
}

.footer-item a:hover {
	font-size: 1.5em;
	border-bottom: 1px solid var(--primary-color);
}

.footer-item i {
	color: var(--primary-color);
}
.social-media a:hover {
	height: 1.5em;
	width: 2em;
	padding-top: 1em;
}
