@media screen and (min-width: 1700px) {
	.hero-container h3 {
		font-size: 4rem;
	}
	.hero-description p {
		font-size: 1.2rem;
	}
	.services-item p {
		font-size: 1.2rem;
	}
	.service-container img {
		height: 175px;
		width: 175px;
	}
	
	.testimonial h2 {
		font-size: 2rem;
	}
	.testimonial h3 {
		font-size: 3rem;
		line-height: 3rem;
	}
	.review p {
		font-size: 1.2rem;
	}
}
@media screen and (min-height: 1100px) {
	.hero-description p {
		font-size: 1.5rem;
	}
	.services-item p {
		font-size: 1.3rem;
	}
	
	}
	.testimonial h2 {
		font-size: 2rem;
	}
	.testimonial h3 {
		font-size: 3rem;
		line-height: 3rem;
	}
	.review {
		padding-top: 3rem;
	}
	.review p {
		font-size: 1.3rem;
		line-height: 2rem;
	}
	.reviewer {
		padding-top: 2rem;
		padding-bottom: 1rem;
	}
	.footer-container {
		height: 40vh;
	}
	.footer-items h3 {
		font-size: 2.2rem;
	}
	.footer-items p {
		font-size: 1.3rem;
	}
	.footer-item a {
		font-size: 1.3rem;
	}
}

@media screen and (min-height: 1200px) {
	.testimonial-reviews {
		height: 30vh;
	}
}
