.card-2,
.card-3 {
	display: none;
}

.testimonial-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: rgb(220, 220, 212);
}

.testimonial {
	height: 40vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 2.5rem;
}

.testimonial-reviews {
	background-color: var(--light-color);
	margin: 1rem;
	padding-bottom: 1rem;
	border-radius: 5px;
	line-height: var(--lh-p);
}

.review {
	margin: 1rem;
	padding-top: 2rem;
	position: relative;
}

.review img {
	position: absolute;
	top: -25px;
}

.reviewer {
	display: flex;
	padding-left: 0.5rem;
}

.reviewer img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

.reviewer-name {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-left: 1rem;
}

.reviewer-name h3 {
	font-size: 1.5rem;
}

.reviewer-name h4 {
	color: var(--primary-color);
}

.fa-star {
	color: var(--primary-color);
}

.carousel-dots {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}

.carousel-dots :first-child {
	background-color: var(--primary-color);
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}
